@tailwind base;
@tailwind components;
@tailwind utilities;

/* I need a layout class with 68.75 rem max width  */
.layout {
    height: 100vh;
    max-width: 68.75rem;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
